.lista__button{
    align-items: center;
    background-color: rgb(255, 0, 0);
    display: flex;
    margin: 30px auto;
    text-decoration: none;
    width: 200px;

}
.button__descricao{
    margin: 5px auto;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}